@import './shared/fonts';
//components
@import './components/header';
@import './components//portfolios';
//pages
@import './index';
@import './blogs';
@import './dashboard';
html , body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', 'Helvetica' !important;
}

.base-page {
    padding: 150px 0;
    color: black;
    min-height: 100vh;

    .page-header-title {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.clickable {
    cursor: pointer;
}

.absolute {
    position: absolute;
}

.self-typed {
    font-size: 31px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

